<!-- Todo lo que tenga Extends es heredado -->
<!-- Este archivo HTML hereda de 'base.html', lo que significa que incluirá todo el contenido de 'base.html' y también puede modificarlo o agregar contenido adicional -->
{%extends 'base.html'%} 
<!-- Extiende de la plantilla base llamada 'base.html' -->
{%block header%} 
<!-- Este bloque define el encabezado de la página -->
    <h2>{%block title%} REGISTRAR USUARIO {% endblock %}</h2>
{% endblock %}

{%block content%} 
<!--EL METODO POST NO PERMITE QUE LA URL SE VEAN LOS DATOS QUE SE ESTAN ENVIANDO-->
<!-- Este bloque define el contenido principal de la página -->
<!-- EL METODO POST NO PERMITE QUE LA URL SE VEAN LOS DATOS QUE SE ESTAN ENVIANDO -->
<!-- Se presenta un formulario para registrar un nuevo usuario -->
    <form method="POST">
        <label for="username">Nombre de Usuario</label>
        <!-- Etiqueta para el campo de nombre de usuario -->
        <input type="text" name="username" id = "username" required>
        <!-- Campo de entrada de texto para el nombre de usuario. El atributo "required" indica que este campo es obligatorio -->
        <label for="password">Contraseña</label>
        <input type="password" name="password" id = "password" required>
        <input type="submit", value="Registrar Usuario">
    </form>
{% endblock %}