<!--Todo lo que tenga Extends es heredado-->
<!-- Este archivo HTML hereda de 'base.html', lo que significa que incluirá todo el contenido de 'base.html' y también puede modificarlo o agregar contenido adicional -->
{%extends 'base.html'%} 


<h2 style="text-align: center;">{%block title%} Crear publicación {% endblock %}</h2>


{%block content%} 
<!--EL METODO POST NO PERMITE QUE LA URL SE VEAN LOS DATOS QUE SE ESTAN ENVIANDO-->
    <form method="POST">
        <div class="mb-3"></div>
            <label for="title">Titulo</label>
            <input class="form-control" type="text" name="title" id = "title" required>
        </div>
        <div class="mb-3"></div>
            <label for="body">Contenido</label>
            <textarea class="form-control" name="body" id="body" cols="30" rows="10"></textarea>
            <input type="submit", value="Guardar" type="button" class="btn btn-info">
        </div>    

    </form>
{% endblock %}
<!--Despues de crear una plantilla hay que registrar el blueprint en __init__.py principal-->