<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo</title>
    <!--Forma de llamar archivos estaticos usando sintaxis de jinja 2 con el metodo url_for()-->
    <link rel = "shortcut icon" href ="{{ url_for('static', filename= 'img/icon.png')}}">
</head>
<body>
    <h1>{{titulo}}</h1>
    <h1>¡Hola Mundo!</h1>

    <!--Iterando los datos del listado en el archivo py-->
    {%for valor in listado %} <!--La variable valor  solo exixte dentro del FOr y listado es la variable de la lista en el archivo py-->
    <p>{{valor}}</p>
    {%endfor %}

</body>
</html>