<!--Estructura de formulario creado por medio de una clase-->
{%block contenido %}
<h1>Home iniciar sesion </h1>
<form action = "" method= "POST" novalidate>  
    {{ formi.hidden_tag() }} 

    {{formi.username.label}} <br>
    {{formi.username(size=30)}} <br>
    {%  for error in formi.username.errors %}
    <span style = " color: red;">{{error}}</span> <br>
    {% endfor %}

    {{formi.password.label}} <br>
    {{formi.password(size=30)}} <br>
    {%  for error in formi.password.errors %}
    <span style = " color: red;">{{error}}</span> <br>
    {% endfor %}

    {{formi.remember.label}} <br>
    {{formi.remember(size=30)}} <br>
    {%  for error in formi.remember.errors %}
    <span style = " color: red;">{{error}}</span> <br>
    {% endfor %}
    
    <button type="submit">Loguearse </button>
</form>
{% endblock %}